mat-grid-tile {
    border: 1px solid lightgray;
    border-radius: 5px;
}



  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.image-container {
    position: relative;
}

.home-page-product-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-description {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.product-price {
    font-weight: bold;
    margin-top: auto;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button {
    width: 50%;
    bottom: 0px;
}
/* Style for Load More button, Additional Content, or other elements as needed */

